 * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
 }
 body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

/* nav {
    background-color: black;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    width: 100%;

}

nav a {
    float: left;
    display: block;
    color: rgb(146, 52, 130);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 25px;
    width: 120px;

}
nav a::before {
    content: '';
    position: relative;
    left: 0;
    height: 3px;
    width: 0px;
    background-color: aquamarine;
    bottom: -7px;

}

nav a:hover::before {
    width: 100%;
}

nav a:hover {
    color: rgb(255, 255, 255);
}
nav input {
    float: right;
    margin: 15px;
    border-radius: 20px;
    width: 22%;
    height: 35px;
    border: none;
    box-shadow: 4px 4px 15px 15px rgba(251, 5, 198, 0.438);
    background-color: rgb(0, 0, 0);

}
:placeholder-shown {
    font-weight: bold;
    position: relative;
    left: 6px;
    color: rgb(255, 255, 255);
    
} */

.cover img {
    width: 400px;
    height: 400px;
    margin: 20px;
    display: flex;
    padding: 10px;
    position: relative;
    float: left;
    top: 10px;
    border-radius: 15px;
}

.name {
    position: absolute;
    display: flex;
    float: left;
    top: 430px;
    left: 150px;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: auto;
    width: 150px;
    height: 30px;


}

.description {
    position: relative;
    padding: 5px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    top: 120px;
    height: 60%;
    color: white;
    
}

 .trailer {
    width: 180px;
    height: 25px;
    position: absolute;
    top: 350px;
    left: 440px;
    display: flex;
     z-index: 0;
    border: 1px solid rgba(251, 5, 198, 0.438);
    box-shadow: 4px 4px 15px 15px rgba(251, 5, 198, 0.438);
 } 

 .trailer a {
    text-decoration: none;
    display: flex;
    color: white;
    float: left;
     position: relative;
     left: 60px;
     cursor: pointer;

 }
 .trailer a:hover {
    color: antiquewhite;
    transition: 0.2s;
 }

 .rating {
    position: absolute;
    top: 380px;
    left: 1200px;
    float: right;
    transform: translate(-50%,-50%);
    display: flex;
 }

 .rating input {
     display: none; 
 }

 .rating label {
    display: block;
    cursor: pointer;
    width: 30px;


 }

 .rating label::before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block ;
    font-size: 20px;
    color: #eee;
 } 

 .rating label::after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 20px;
    color: gold;
    top: 0;
    opacity: 0;
    transition: 0.3s;
    text-shadow: 0px 2px 3px #c7c3c3a5;
 } 

 .rating label:hover::after,
 .rating label:hover ~ label::after,
 .rating input:checked ~ label::after{
    opacity: 1;

 }
 .container {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: black;
    z-index: 0px;
    position: absolute;
    top: 100px;
 }

 .movie .vedio {
    position: absolute;
    top: 800px;
    left: 200px;
    width: 1100px;
    height: 650px;
    border: 2px solid rgb(211, 53, 211);
    box-shadow: 4px 4px 15px 15px rgba(251, 5, 198, 0.438);
 }

